{:postgres {:db "quicksilver"
            :user "zem"
            :password ""}
  :port 8080
  :debug true
  :base-url "localhost"
  :auth-salt "super"
  :nomad/environments {
    "dev_p" {:postgres {:user "postgres"
                        :password "postgres"
                        :port "5433"}}
    "prod" {:postgres {:user "quicksilver"
                       :password #nomad/env-var "DB_PASSWORD"
                       :post "5432"}
            :base-url "bwd.cat"
            :auth-salt #nomad/env-var "QS_AUTH_SALT"
            :debug false}}}
