{:postgres {:db "quicksilver"
            :user "zem"
            :password ""}
  :port 8080
  :debug true
  :base-url "localhost"
  :github {:client-id "781e22f823bc0ed6e42e"
            :client-secret "b229bc3243fdc59c4552a00b0b80360f2af171b5"}
  :frontend-url "http://localhost:8000/"
  :nomad/environments {
    "dev_p" {:postgres {:user "postgres"
                        :password "postgres"
                        :port "5433"}}
    "prod" {:postgres {:user "quicksilver"
                       :password #nomad/env-var "DB_PASSWORD"
                       :post "5432"}
            :github {:client-id #nomad/env-var "GITHUB_CLIENT_ID"
                      :client-secret #nomad/env-var "GITHUB_CLIENT_SECRET"}
            :base-url "bwd.cat"
            :frontend-url "https://bwd.cat/"
            :debug false}}}
