{:postgres {:db "quicksilver"
            :user "zem"
            :password ""}
  :port 8080
  :debug true
  :nomad/environments {
    "dev_p" {:postgres {:user "postgres"
                        :password "postgres"
                        :port "5433"}}
    "prod" {:postgres {:user "quicksilver"
                       :password #nomad/env-var "DB_PASSWORD"
                       :post "5432"}
            :debug false}}}
